.backgroundFound {
  height: 100vh;
  width: 100vw;
  background: #00000080;
  z-index: 1000;
  top: 0;
  left: 0;
  position: fixed;
}

.containerDetail {
  background: transparent;
  backdrop-filter: blur(30px);
border-radius: 10px;
  width: 100%;
  height: 352px;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
  z-index: 1001;
  max-width: 949px;
  max-height: 1000px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fecharIcon {
  cursor: pointer;
  z-index: 1100;
  top: 27.75px;
  right: 27.75px;
  position: absolute;
}



@media (max-width: 1000px) {

  .containerDetail {
      flex-direction: column;
      width: 540px;
      height: auto;
      top: 2%;
  }

  .divContainerDetails {
      flex-direction: column;
      width: 343px;
      max-width: 344px;
  }

  .fecharIcon {
    top: 50px;
    right: 20px;
  }
}

@media (max-width: 800px) {
  .containerDetail {
          flex-direction: column;
          width: 343px;
      }
}