.backgroundFound {
  height: 100vh;
  width: 100vw;
  background: #00000080;
  z-index: 1000;
  top: 0;
  position: fixed;
}

.containerDetail {
  background: rgb(0, 0, 0, 0.5);
border-radius: 10px;
  width: 948px;
  height: 352px;
  position: absolute;
  z-index: 1001;
  max-width: 949px;
  max-height: 353px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fecharIcon {
  cursor: pointer;
  z-index: 1100;
  top: 27.75px;
  right: 27.75px;
  position: absolute;
}

@media (max-width: 1000px) {
  .containerDetail {
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 343px;
    height: 734px;
    max-width: 344px;
    max-height: 735px;
    padding: 20px;
    flex-direction: column;
  }

  .fecharIcon {
    top: -90px;
    right: -5px;
  }
}