.pokemonCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(6, 11, 40, 0.15);
  border: 1px solid #24293F;
  border-radius: 24px;
  color: #fff;
  width: 384px;
 z-index: 2;
  height: 382px;
  justify-content: center;
  position: relative;
}

.containerText{
margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: "Montserrat",sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  z-index: 2;
}

.containerEffect{
  position: absolute;
  width: 200px;
  height: 200px;
  left: 92px;
  top: 12px;
  background: #1CD80E;
  filter: blur(128px);
  z-index: 1;
}

.titlePokemon {
  margin-top: 4px;
  font-family: Montserrat;
font-size: 32px;
font-weight: 700;
line-height: 43px;
letter-spacing: 0em;
text-align: center;
color: #fff;
}

.titlePokemon::first-letter {
  text-transform: uppercase;
}

.pokemonImage {
  z-index: 20;
  position: absolute;
  width: 256px;
  height: 256px;
  left: 64px;
  top: -156px;
}

.idPokemon {
  font-family: Montserrat;
font-size: 20px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: #fff;
}

.buttonsTypes {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.caracteristicas {
  margin-top: 24px;
  display: flex;
  gap: 24px;
}

.peso, .altura {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.peso div, .altura div {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.peso p,
.altura p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.peso div p,
.altura div p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
}
