  .homePrincipal {
  background: linear-gradient(180deg, #EE8328 0%, #E14318 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
  .pokeballLeft{
  left: -10px;
  position: absolute;
  transform: scaleX(-1);
}

 .pokeballRight{
  position: absolute;
  transform: scaleX(-1);
  right: 0;
}


@media (max-width: 1200px){
  .homePrincipal{
      padding: 0 16px;
      height: 1000px;
  }
}

@media (max-width: 800px){
  .pokeballLeft,
  .pokeballRight {
    display: none;
  }
}