.homePrincipal {
  background: linear-gradient(180deg, #EE8328 0%, #E14318 100%);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pokeballLeft{
  left: -10px;
  position: absolute;
  transform: scaleX(-1);
}

.pokeballRight{
  position: absolute;
  transform: scaleX(-1);
  right: 0;
}

@media (max-width: 1200px){
  .homePrincipal{
      padding: 0 32px;
      height: 100%;
  }
}

@media (max-width: 800px){
  .pokeballLeft,
  .pokeballRight {
    display: none;
  }
}