.header {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  width: 100%;
  max-height: 200px;
}

.header .navbar {
  max-height: 200px;
}

.navbar ul{
  display: flex;
  gap: 16px;
}