.containerPokemon {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1217px;
  height: 100vh;
  z-index: 10;
}

.buttonsTypes {
justify-content: left;
align-items: left;
  text-align: left;
  margin-top: 12px;
  display: flex;
 
  gap: 8px;
}

.textPokemon {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.divisor {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.imagePokemon {
  display: flex;
  justify-content: center;
  width: 45%;
}

.imagePokemon img {
  display: block;
  width: 100%;
}

.buttonCarac button {
  cursor: pointer;
}

.buttonCarac {
  text-align: left;
  margin: 8px;
}

.number {
font-family: Montserrat;
 font-size: 24px;
 font-weight: 700;
 line-height: 32px;
 letter-spacing: 0em;
 text-align: left;
 color: #ffffff;
 align-items: left;
}

.textFirst {
  font-family: "Montserrat",sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 86px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.textSecundary {
  margin-top: 5px;
  font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
align-items: left;
color: #ffffff;
}

.buttonDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;
  gap: 8px;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  width: 100%;
  margin-top: 24px;
  color: #E14318;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 1000px) {
  .divisor {
    width: 100%;
    flex-direction: row;
  }

  .divisor img:nth-child(2) {
    width: 48px;
    height: 48px;
  }

 .divisor img:first-child {
  rotate: 90deg;
  width: 1px;
  height: 130px;
  margin-right: 34px;
 }

.divisor img:last-child {
  rotate: 90deg;
  width: 1px;
  height: 130px;
  margin-left: 34px;
}

  .number {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  }
  
  .textFirst {
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .textSecundary {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;    
  }
 
  .containerPokemon {
    display: flex;
    flex-direction: column;
  }

  .textPokemon {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }
  .imagePokemon {
    align-items: center;
    justify-content: center;
  }
  
  .imagePokemon img {
    width: 343px;
    height: 371px;
  }

  .imagePokemon img {
    max-width: max-content;
  }
}
