.button {
  -webkit-appearance: none;
-moz-appearance: none;
appearance: none;
  appearance: none;
  width: 384px;
  height: 48px;
  padding: 12px 8px 12px 8px;
  border-radius: 0px 0px 24px 24px;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  border: none;
}

.button p {
  font-family: Montserrat;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
color: #fff;
}