.header {
  display: flex;
  position: absolute;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1217px;
  padding-top: 24px !important;
  padding: 0 24px;
  z-index: 100;
}

.logoContainer a {
  display: block;
}

 .logo,
 .navbar {
  background: transparent;
  border: none;
    cursor: pointer;
    outline: none;
}

.navbar ul{
  display: flex;
  gap: 5px;
}

.navbar ul li {
  padding: 5px;
}