.header {
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1217px;
  margin-top: 24px;
}

.navbar ul{
  display: flex;
  gap: 16px;
}