.header {
  display: flex;
  position: absolute;
  width: 100vw;
  top: 0;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1217px;
  padding-top: 24px !important;
  justify-content: space-between;
}

.logoContainer a {
  display: block;
}

 .logo,
 .navbar {
  background: transparent;
}

.navbar ul{
  display: flex;
  gap: 5px;
}

.navbar ul li {
  padding: 5px;
}