.pokemonError {
  z-index: 10;
  position: fixed;
  top: 30%;
  left: 50%;
 display: flex;
flex-direction: column;
justify-content: space-between;
  transform: translateX(-50%);
  margin: 0 auto;
  width:432px;
height: 296px;
background: #030720;
padding: 48px;
border-radius: 24px;
gap: 24px;
margin: 0 auto;
box-shadow: 10px 5px 5px #0000005e;
}

.pokemonError div:nth-child(1) {
  display: flex;
  align-items: center;
 justify-content: space-between;
 padding: 0 13px;
gap: 8px;
width: 336px;
height: 56px;
border-radius: 8px;
gap: 8px;
background: linear-gradient(180deg, #151A37 0%, rgba(21, 26, 55, 0) 100%),
linear-gradient(0deg, #24293F, #24293F);
border: 1px solid #24293F;
}


.pokemonError div p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  color: #FFFFFF;
  width: 264px;
}

.pokemonError div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 13px;
gap: 8px;
width: 290px;
height: 48px;
border-radius: 8px;
gap: 8px;
background: linear-gradient(180deg, #151A37 0%, rgba(21, 26, 55, 0) 100%),
linear-gradient(0deg, #24293F, #24293F);
border: 1px solid #24293F;
}

.pokemonError div:nth-child(2) p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
}

.pokemonError div:nth-child(3) {
  display: flex;
  cursor: pointer;
  align-items: center;
 justify-content: center;
gap: 8px;
width: 48px;
height: 48px;
border-radius: 8px;
gap: 8px;
background: linear-gradient(180deg, #151A37 0%, rgba(21, 26, 55, 0) 100%),
linear-gradient(0deg, #24293F, #24293F);
border: 1px solid #24293F;
}