.carregando {
  display: block;
  content: '';
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 6px solid #E14318;
  border-top: 6px solid transparent;
  border-radius: 50px;
animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  } 100% {
    transform: rotate(360deg);
  }
}