.filterTypes {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  max-width: 100%;
  width: 440px;
  align-items: left;
  justify-content: end;
  z-index: 30 !important;
}

.filterTypes h2 {
  margin-bottom: 16px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  color: #FFFFFF;
}

.buttonType {
  width: 91px;
  padding: 4px 8px 4px 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: initial;
}

.buttonType p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #fff;
}

.swiperContainer {
  display: flex;
}

.swiperContainer button {
  display: block;
  outline: none;
  border: none;
  max-width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 0px 8px 8px 0px;
  background: #2F5AFF;
  width: 56px;
}

.FilterExcedido {
  margin-left: 10px;
  border-radius: 10px;
  padding: 5px;
  border: 2px solid #2f5Aff;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.FilterExcedido p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #fff;
}

.FilterExcedido p span {
  font-weight: 700;
}

@media (max-width: 1258px) {
  .swiperContainer {
    justify-content: center;
    text-align: center;
  }

  .filterTypes h2 {
    text-align: center;
  }
}