.containerFirst {
  color: white;
  z-index: 2000 !important;
  position: relative;
  text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-right: 40px;
}

.firstContainerText {
  margin-top:30px;
  display: flex;
  flex-direction: column;
}



.buttonsTypes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
}

.caracteristicas {
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  display: flex;
  gap: 24px;
}

.peso, .altura {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.peso div, .altura div {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.peso p,
.altura p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.peso div p,
.altura div p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
}

.numberid {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
}

.titlePokemon {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
  margin-top: 4px;
  letter-spacing: 0em;
}
.titlePokemon::first-letter {
  text-transform: uppercase;
}

.imagePokemon {
  position: absolute;
  top: -180px;
  z-index: 3000;
}

@media (max-width: 1000px) {
  .imagePokemon {
    display: none;
  }
}