.buttonType {
  width: 91px;
height: 32px;
padding: 4px 8px 4px 8px;
border-radius: 8px;
gap: 8px;
display: flex;
align-items: center;
justify-content: center;
border: none;
cursor: initial;
}

.buttonType p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #fff;
}