.containerSearchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 72px;
  border-bottom: 1px solid #24293f;
  padding-bottom: 35px;
  max-width: 1217px;
  margin: 0 auto;
}

.inputContainer {
  display: flex;
}

.buttonScroll {
  max-width: 1217px;
  margin: 0 auto;
  padding-top: 72px;
}

.buttonScroll a {
  width: 110px;
  height: 48px;
  padding: 12px 16px 12px 16px;
  border-radius: 8px;
  background: linear-gradient(180deg, #151A37 0%, rgba(21, 26, 55, 0) 100%),
  linear-gradient(0deg, #060B28, #24293F);  
  text-decoration: none;
  box-shadow: none;
  outline: none;
  border: 1px solid #24293F;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonScroll a p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  color: #FFFFFF;
}

.inputContainer input {
  outline: none;
  background: transparent;
  border: 2px solid #2F5AFF;
  border-radius: 5px 0px 0px 5px; 
  width: calc(488px - 56px);
  height: 56px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  padding: 16px;
}

.containerImg {
  display: block;
  outline: none;
  border: none;
  max-width: 100%;
  display: flex;
  justify-content: center;
text-align: center;
align-items: center;
border-radius: 0px 8px 8px 0px;
  background: #2F5AFF;
  width: 56px;
  height: 56px;
}

@media (max-width: 800px) {
  .inputContainer input {
    width: calc(343px - 56px);
  }

  .containerSearchBar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .buttonScroll {
    padding: 32px;
  }
}