.containerThree {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.containerThree h2 {
  font-family: Montserrat;
font-size: 32px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0em;
color: #ffffff;
margin-bottom: 16px;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.stats div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  align-content: center;
}

.stats div p {
  width: 70px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
color: #ffffff;  
}

.stats div span {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  align-items: center;
  justify-content: center;
  color: #ffffff;  
}

.stats div .progressStats {
  position: relative;
content: '';
display: block;
width: 304px;
height: 8px;
background: #555555;
}

.progessStatsGreenHP,
.progessStatsGreenAtk,
.progessStatsGreenDf,
.progessStatsGreenSpAtk,
.progessStatsGreenSpDef,
.progessStatsGreenSpeed {
  position: absolute;
  top: 0;
  content: '';
  display: block;
  height: 8px;
  background: #1CD80E;
  box-shadow: 0px 0px 12px 4px #1CD80E40;
}

@media (max-width: 1000px) {
  .stats div .progressStats {
    width: 169px;
  }

  .progessStatsGreenHP,
.progessStatsGreenAtk,
.progessStatsGreenDf,
.progessStatsGreenSpAtk,
.progessStatsGreenSpDef,
.progessStatsGreenSpeed {
  position: absolute;
  top: 0;
  content: '';
  display: block;
  height: 8px;
  background: #1CD80E;
  box-shadow: 0px 0px 12px 4px #1CD80E40;
}
}